[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/bobtodd/pelican-plugins.git
[submodule "pelican-elegant"]
	path = pelican-elegant
	url = https://github.com/bobtodd/pelican-elegant.git
